.product {
  display: flex;
  padding: 0px 40px 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--green);
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 18px;
}

.onions.is-active {
  background-color: var(--red);
}
.classic.is-active {
  background-color: var(--light-blue);
}

.product-title {
  font-family: "Francois One";
  text-align: center;
  font-size: 35px;
  font-weight: 400;
}

.product-details {
  display: none;
}
.product-details.is-active {
  display: block;
}
